html
    head
        title= title
    body
        h1= `Order price: ${response.price}`

        table
            tr
                th= 'Truck ID'
                th= 'Truck load'
            each truck in response.trucks
              tr
                td= truck.truckID
                td
                    each load in truck.load
                        p= `Client ID: ${load.id},  Package weight: ${load.weight}`
